.successfully-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    border: 1px solid #364051;
}

.successfully-box i {
    font-size: 80px;
    color: #188653;
}

.successfully-box p {
    font-size: 17px;
    color: #188653;
}

.successfully-box button {
    float: right;
    border-radius: 4px;
    font-size: 15px;
    padding: 8px;
    background-color: #4a9eff;
    color: white;
    border: none;
}



