<input type="checkbox" id="menu_toggle">
<div class="sidebar d-flex flex-column p-3">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="main/index"><i class="bi bi-house-fill"></i> Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="form/create_or_update"><i class="bi bi-file-earmark-plus"></i> Add a new form</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="main/settings"><i class="bi bi-gear"></i> Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="session1/index">Session 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="main/logout"><i class="bi bi-box-arrow-right"></i> Logout</a>
        </li>
    </ul>
</div>
